.popup__close {
  color: #fff;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/CloseIcon.svg);
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  transition: 0.8s;
  margin: 0 0 8px auto;
}

.popup__close:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 568px) {
  .popup__close {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    margin: 0 0 16px auto;
  }
}