.popup__text {
  border: none;
  border-bottom: 1px solid #000;
  width: 358px;
  height: 27px;
  padding: 0 0 6px 0;
}

.popup__text:first-of-type {
  margin-bottom: 24px;
}

.popup__text::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #000;
}